@import "./layout.scss";

@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:5px,$radius:5px){
  padding: $padding;
  background-color: $bgcolor;
  border-radius: $radius;
  border: 1px soild $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

@mixin list($direction:column){
  /*@include 继承之前写的flex*/
  @include flex($direction)
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:20px 0,$height:112px,$txtpadding:0 32px,$color:#333,$font-size:32px,$font-weight:700){
  background-color: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4{
    height: $height;
    line-height: $height;
    padding: $txtpadding;
    text-overflow: ellipsis; //超出显示...
    white-space: nowrap; //禁止换行
    overflow: hidden;
    text-align: center;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }

}
